* {
  box-sizing: border-box;
 
}

body {
  font-family: Arial;
  padding: 0;
  background: #f1f1f1;
  
}

/***************************** MAIN SECTION *****************************/
.main {
background-color: #934938;
}

/* Header (div) formatting */
.header {
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #934938;
}

.header h1 {
  font-size: 50px;
  text-align: left;
  padding:.5rem;
  font-weight: 150;
}


/* Make the logo have a rounded edge */
img.top-image {
  vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  border-bottom: solid #D09D8C;
  background-color: #934938;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  

}

/* Change color on hover */
.topnav a:hover {
  background-color: #A75340;
  color: white;
}

/* Style the content */
.content {
  padding: 20px;
}

.content h2 {
 font-weight: 130;
 font-size: 50px;
 color: white;
}

/* Style the footer */
.footer {
  background-color: #934938;
  color: #40302D;
  text-align: center;
  padding: 10px;
  
}


 
 

